Debug/
Documentation/
Release/
QTDebug/
Development/
Development32/
Development64/
Release32/
Release64/
build/
build-*/
dist/
Resources/*.png
qrenderdoc/Makefile*
*.aps
*.ilk
*.manifest
*.user
bin
obj/
.obj/
*.opensdf
*.VC.*db
.vs/
*.pdb
*.sln.ide/
*.so
*.a
*.exp
*.sdf
*.suo
*.swp
*.orig
symsrv.yes
ipch/
renderdoc/driver/vulkan/renderdoc_capture.json
renderdocui/3rdparty/ironpython/pythonlibs.zip
qrenderdoc/generated/
.DS_Store
plugins-*/
__pycache__
